<app-home>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <!-- <img
                        class="profile-user-img img-circle"
                        [src]="image.length > 0 ? image : (profile.photo ? profile.photo : 'http://localhost:3000/images/noimgavailable.png')"
                        alt="User profile picture"
                        /> -->
                        <img
                        class="profile-user-img img-circle"
                        [src]="profile.photo ? profile.photo : 'http://localhost:3000/images/noimgavailable.png'"
                        alt="User profile picture"
                        />
                    </div>
                    <h3 class="profile-username text-center">{{ profile.full_name }}</h3>
                    <p class="text-muted text-center">{{ profile.designation }}</p>
                    <input type="file" #image id="image" accept="image/*" (change)="onFileSelected($event)"/>
                    <button type="button" class="btn btn-primary btn-block mt-2" (click)="onUploadFileHandler()" [disabled]="!image.value">Upload Photo</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="profile">
                        <div class="form-group">
                            <label for="inputName" class="m-3">Name</label>
                            <span>{{ profile.full_name }}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="m-3">Email</label>
                            <span>{{ profile.email_id }}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputDob" class="m-3">Date of Birth</label>
                            <span>{{ profile.dob }}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputContactNo" class="m-3">Contact No</label>
                            <span>{{ profile.contact_no }}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="m-3">Address</label>
                            <span>{{ profile.address }}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputJoinDate" class="m-3">Joining Date</label>
                            <span>{{ profile.join_date }}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputAgreementType" class="m-3">Agreement Type</label>
                            <span>{{ profile.agreement_type }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-home>
