<div *ngIf="showTable; then table; else form"></div>

<ng-template #table>
  <app-home>
    <app-table
      type="add:0"
      (onAddHandler)="showForm()"
      [tableHeaders]="tableHeaders"
      [tableData]="tableData"
      [paginationConfig]="paginationConfig"
      modalTitle="Edit"
      [modalBody]="modalBody"
      (onSaveHandler)="editInfo($event, this)"
      (onDisplayModalData)="onDisplayModalData($event)"
      (onCancelModalHandler)="onCancelModal()"
    >
    </app-table>
  </app-home>
</ng-template>

<ng-template #modalBody>
  <input type="hidden" name="role_id" [(ngModel)]="roles.id" />
  <div class="input-group">
    <label>Role Name</label>
    <input
      type="text"
      autofocus
      class="inputText w-75"
      name="role_name"
      #role_name="ngModel"
      [(ngModel)]="roles.role_name"
      placeholder="Role Name"
      (keyup)="onHandleChange($event)"
      (blur)="onHandleBlur($event)"
    />
    <div *ngIf="errors.role_name" class="modal-text-danger">
      {{ errors.role_name }}
    </div>
  </div>
  <div class="input-group">
    <label>Parent Role</label>
    <select
      class="inputText w-75"
      name="parent_id"
      [(ngModel)]="roles.parent_id"
      #parent_id="ngModel"
      (change)="onHandleChange($event)"
      (blur)="onHandleBlur($event)"
    >
      <option [value]="" selected disabled="disabled">Parent Role</option>
      <option [value]="">None</option>
      <option *ngFor="let option of roleOptions" [value]="option.id">
        {{ option.value }}
      </option>
    </select>
    <!-- <div class="modal-text-danger">
      {{ errors.parent_id }}
    </div> -->
  </div>
</ng-template>

<ng-template #form>
  <app-home>
    <app-breadcrumb></app-breadcrumb>
    <div class="form">
      <div class="form-bar">
        <h5 class="form-title"><i class="fa fa-plus"></i>&nbsp;Add</h5>
      </div>
      <div class="form-header">
        <div class="card-body">
          <form
            #roleForm="ngForm"
            (ngSubmit)="saveInfo($event, roleForm)"
            autocomplete="off"
          >
            <div class="input-group">
              <label>Role Name</label>
              <input
                type="text"
                autofocus
                class="inputText w-75"
                name="role_name"
                #role_name="ngModel"
                [ngModel]="roles.role_name"
                placeholder="Role Name"
                (keyup)="onHandleChange($event)"
                (blur)="onHandleBlur($event)"
              />
              <div *ngIf="errors.role_name" class="modal-text-danger">
                {{ errors.role_name }}
              </div>
            </div>
            <div class="input-group">
              <label>Parent Role</label>
              <select
                class="inputText w-75"
                name="parent_id"
                [ngModel]="roles.parent_id"
                #parent_id="ngModel"
                (change)="onHandleChange($event)"
                (blur)="onHandleBlur($event)"
              >
                <option [value]="" selected disabled="disabled">
                  Parent Role
                </option>
                <option [value]="">None</option>
                <option *ngFor="let option of roleOptions" [value]="option.id">
                  {{ option.value }}
                </option>
              </select>
              <!-- <div class="modal-text-danger">
                {{ errors.parent_id }}
              </div> -->
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn-group">
                <button class="btn btn-primary">
                  <span><i class="fa fa-save"></i></span>&nbsp;Save
                </button>
              </div>
              <button
                type="button"
                class="btn btn-danger ml-2"
                (click)="onCancelModal()"
              >
                <span><i class="fa fa-ban"></i></span>&nbsp;Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-home>
</ng-template>
