<div *ngIf="showTable; then table; else form"></div>

<ng-template #table>
  <app-home>
    <app-table
      type="list"
      [tableHeaders]="tableHeaders"
      [tableData]="tableData"
      [paginationConfig]="paginationConfig"
    >
    </app-table>
    <!-- <app-table type="select" 
                [options]="options"
                (onAddHandler)="showForm()" 
                [tableHeaders]="tableHeaders" 
                [tableData]="tableData" 
                [paginationConfig]="paginationConfig" 
                modalTitle="Edit" 
                [modalBody]="modalBody" 
                (onSaveHandler)="editInfo($event, this)" 
                (onDisplayModalData)="onDisplayModalData($event)"
                (onCancelModalHandler)="onCancelModal()" >
        </app-table> -->
  </app-home>
</ng-template>
