<app-breadcrumb></app-breadcrumb>
<ng-container *ngFor="let type of type.split('|')">
  <div>
    <div *ngIf="type.split(':')[0] === 'add'" class="float-left" [ngClass]="type.split(':')[1] > 0 ? 'ml-2' : ''">
      <button class="btn btn-primary" (click)="showForm()">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add
      </button>
    </div>
    <div *ngIf="type.split(':')[0] === 'select'" class="float-left" [ngClass]="type.split(':')[1] > 0 ? 'ml-2' : ''">
      <select class="form-control" (change)="onFilterOptionChangeHandler($event)">
        <option
          *ngFor="let option of options"
          [value]="option.id"
          [selected]="option.selected"
        >
          {{ option.value }}
        </option>
      </select>
    </div>
  </div>
</ng-container>

<app-search
  (onSearchHandler)="searchHandler($event)"
  (onPaginationHandler)="paginateHandler($event)"
></app-search>
<table class="table">
  <thead>
    <!-- <tr [innerHTML]="tableColumns | safeHtml"></tr> -->
    <tr>
      <ng-container *ngFor="let item of tableHeadersKeyList">
        <th *ngIf="item === 'action_request' || item === 'action_my_leave'"
            class="table-{{ item }}"
            scope="col"
        >
          {{ tableHeaders[item].title }}
        </th>
        <th attr.data-column="{{ item }}"
          class="table-{{ item }}"
          data-order="desc"
          scope="col"
          *ngIf="item !== 'action_request' && item !== 'action_my_leave' && item !== 'searchFilter'"
          (click)="item !== 'action' ? onClickHandler($event) : ''"
        >
          {{ tableHeaders[item] }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <!-- <tbody [innerHTML]="tableDataColumns | safeHtml"></tbody> -->
  <tbody>
    <!-- <tr *ngFor="let item of tableData"> -->
    <tr *ngFor="let item of paginateData">
      <ng-container *ngFor="let key of tableHeadersKeyList">
        <td
          *ngIf="
            isBoolean(item[key]) == 'string' &&
            key !== 'action' &&
            key !== 'action_request' &&
            key !== 'action_my_leave' &&
            key !== 'searchFilter' &&
            key !== 'remarks'
          "
        >
          {{ item[key] }}
        </td>
        <td *ngIf="key == 'remarks'" class="text-center">
          <a
            href="#"
            data-skin="skin-green"
            class="btn btn-success btn-sm"
            data-toggle="tooltip"
            data-placement="top"
            role="button"
            [title]="item[key]"
            ><i class="fa fa-comment"></i
          ></a>
        </td>
        <td *ngIf="isBoolean(item[key]) == 'boolean'">
          <input
            type="checkbox"
            [checked]="item[key] == 'true' ? true : false"
            (click)="onCheckboxClickHandler($event, item.id)"
          />
        </td>

        <td *ngIf="key === 'action'" class="text-center">
          <button
            id="showModalButton"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#showModal"
            (click)="onToggle(item.id)"
          >
            <li class="fa fa-edit" aria-hidden="true"></li>
            Edit
          </button>
        </td>

        <td *ngIf="key === 'action_request' && item['status_name'] === 'Pending'" class="text-center">
          <ng-container *ngFor="let button of tableHeaders[key].buttons">
            <button
              [ngClass]="button.status ? 'btn btn-success' : 'btn btn-danger m-2'"
              (click)="onActionRequestHandler(item.id, button.name)"
              [title]="button.title"
            >
              <li [class]="button.status ? 'fa fa-check-circle' : 'fa fa-ban'" aria-hidden="true"></li>
            </button>
          </ng-container>
        </td>

        <td *ngIf="key === 'action_my_leave' && item['status_name'] === 'Pending'" class="text-center">
          <ng-container *ngIf="item['status_name'] === 'Pending'">
            <button
              id="showModalButton"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#showModal"
              (click)="onToggle(item.id)"
            >
              <li class="fa fa-edit" aria-hidden="true"></li>
              Edit
            </button>
          </ng-container>
          <!-- <ng-template #reviewedRequestTemplate>
            <span
              class="badge"
              [ngClass]="
                item['status_name'] === 'Approved'
                  ? 'badge-success'
                  : 'badge-danger'
              "
            >
              {{ item["status_name"] }}
            </span>
          </ng-template> -->
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<app-modal
  [modalTitle]="modalTitle"
  [modalBody]="modalBody"
  (onSaveInfo)="onSaveInfoDetail($event)"
  (onCancel)="onCancelModal()"
></app-modal>
<app-pagination
  [paginationConfig]="paginationConfig"
  (onPaginationHandler)="paginateHandler($event)"
></app-pagination>
