<div *ngIf="showTable; then table; else form"></div>

<ng-template #table>
  <app-home>
    <app-table
      type="add"
      (onAddHandler)="showForm()"
      [tableHeaders]="tableHeaders"
      [tableData]="tableData"
      [paginationConfig]="paginationConfig"
      modalTitle="Edit"
      [modalBody]="modalBody"
      (onSaveHandler)="editInfo($event, this)"
      (onDisplayModalData)="onDisplayModalData($event)"
      (onCancelModalHandler)="onCancelModal()"
    >
    </app-table>
    <!-- <app-table type="select" 
                [options]="options"
                (onAddHandler)="showForm()" 
                [tableHeaders]="tableHeaders" 
                [tableData]="tableData" 
                [paginationConfig]="paginationConfig" 
                modalTitle="Edit" 
                [modalBody]="modalBody" 
                (onSaveHandler)="editInfo($event, this)" 
                (onDisplayModalData)="onDisplayModalData($event)"
                (onCancelModalHandler)="onCancelModal()" >
        </app-table> -->
  </app-home>
</ng-template>

<ng-template #modalBody>
  <input type="hidden" name="leave_request_id" [(ngModel)]="my_leaves.id" />
  <div class="input-group">
    <label>Leave Type</label>
    <select
      class="inputText w-75 select-leave-type-edit"
      name="leave_master_id"
      [(ngModel)]="my_leaves.leave_master_id"
      #leave_master_id="ngModel"
      (input)="onHandleChange($event)"
      (blur)="onHandleBlur($event)"
      (change)="onHandleChange($event); showRemainingLeaveInfo($event)"
    >
      <option [value]="" selected disabled="disabled">Leave Type</option>
      <option
        *ngFor="let option of leaveTypeOptions"
        [value]="option.id"
        [attr.data-remaining-leave-days]="option.remainingLeaveDays"
      >
        {{ option.value }}
      </option>
    </select>
    <div *ngIf="selectedLeaveType.length > 0" class="modal-text-warning">
      You have {{ remainingLeaveDays }} day/s of
      {{ selectedLeaveType }} remaining
    </div>
    <div *ngIf="errors.leave_master_id" class="modal-text-danger">
      {{ errors.leave_master_id }}
    </div>
  </div>
  <div class="input-group" *ngIf="approversOptions.length > 0">
    <label>Requested To</label>
    <select
      multiple="true"
      class="inputText select2-modal w-75"
      name="requested_to"
      [(ngModel)]="my_leaves.requested_to"
      #requested_to="ngModel"
      data-placeholder="Select approver/s"
    >
      <option [value]="" selected disabled="disabled">Requested To</option>
      <option *ngFor="let option of approversOptions" [value]="option.id">
        {{ option.value }}
      </option>
    </select>
    <div *ngIf="errors.requested_to" class="modal-text-danger">
      {{ errors.requested_to }}
    </div>
  </div>
  <div class="input-group">
    <label>Date range</label>
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-calendar-alt"></i>
      </span>
    </div>
    <input
      type="text"
      id="daterangepicker"
      name="leave_request_date"
      class="form-control daterangepicker-input"
      [(ngModel)]="my_leaves.leave_request_date"
      #leave_request_date="ngModel"
      data-target="#daterangepicker"
      placeholder="Start/End Date"
      (keyup)="onHandleChange($event)"
      (blur)="onHandleBlur($event)"
      value=""
    />
  </div>
  <div class="input-group">
    <label>Remarks</label>
    <textarea
      class="inputText w-75"
      name="remarks"
      #remarks="ngModel"
      [(ngModel)]="my_leaves.remarks"
      placeholder="Remarks"
      (keyup)="onHandleChange($event)"
      (blur)="onHandleBlur($event)"
    >
    </textarea>
  </div>
</ng-template>

<ng-template #form>
  <app-home>
    <app-breadcrumb></app-breadcrumb>
    <div class="form">
      <div class="form-bar">
        <h5 class="form-title"><i class="fa fa-plus"></i>&nbsp;Add Leave</h5>
      </div>
      <div class="form-header">
        <div class="card-body">
          <form
            #leaveForm="ngForm"
            (ngSubmit)="saveInfo($event, leaveForm)"
            autocomplete="off"
          >
            <div class="input-group">
              <label>Leave Type</label>
              <select
                id="leave_master_id"
                class="inputText w-75"
                name="leave_master_id"
                [ngModel]="my_leaves.leave_master_id"
                #leave_master_id="ngModel"
                (change)="
                  onHandleChange($event); showRemainingLeaveInfo($event)
                "
                (blur)="onHandleBlur($event)"
              >
                <option [value]="" selected disabled="disabled">
                  Leave Type
                </option>
                <option
                  *ngFor="let option of leaveTypeOptions"
                  [value]="option.id"
                  [attr.data-remaining-leave-days]="option.remainingLeaveDays"
                >
                  {{ option.value }}
                </option>
              </select>
              <div
                *ngIf="selectedLeaveType.length > 0"
                class="modal-text-warning"
              >
                You have {{ remainingLeaveDays }} day/s of
                {{ selectedLeaveType }} remaining
              </div>

              <div *ngIf="errors.leave_master_id" class="modal-text-danger">
                {{ errors.leave_master_id }}
              </div>
            </div>
            <div class="input-group" *ngIf="approversOptions.length > 0">
              <label>Requested To</label>
              <select
                multiple="multiple"
                class="inputText select2 w-75"
                name="requested_to"
                [ngModel]="my_leaves.requested_to"
                #requested_to="ngModel"
                data-placeholder="Select approver/s"
              >
                <option [value]="" selected disabled="disabled">
                  Requested To
                </option>
                <option
                  *ngFor="let option of approversOptions"
                  [value]="option.id"
                >
                  {{ option.value }}
                </option>
              </select>
              <div *ngIf="errors.requested_to" class="modal-text-danger">
                {{ errors.requested_to }}
              </div>
            </div>
            <div class="input-group">
              <label>Date range</label>
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input
                type="text"
                id="daterangepicker"
                name="leave_request_date"
                class="form-control daterangepicker-input"
                [ngModel]="my_leaves.leave_request_date"
                #leave_request_date="ngModel"
                data-target="#daterangepicker"
                placeholder="Start/End Date"
                (keyup)="onHandleChange($event)"
                (blur)="onHandleBlur($event)"
                [value]="01 / 01 / 2018 - 01 / 15 / 2018"
              />
            </div>
            <div class="input-group">
              <label>Remarks</label>
              <textarea
                class="inputText w-75"
                name="remarks"
                #remarks="ngModel"
                [ngModel]="my_leaves.remarks"
                placeholder="Remarks"
                (keyup)="onHandleChange($event)"
                (blur)="onHandleBlur($event)"
              >
              </textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary">
                <span><i class="fa fa-save"></i></span>&nbsp;Save
              </button>
              <button
                type="button"
                class="btn btn-danger ml-2"
                (click)="onCancelModal()"
              >
                <span><i class="fa fa-ban"></i></span>&nbsp;Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-home>
</ng-template>
