<app-home>
    <!-- <app-table
      type="add"
      (onAddHandler)="showForm()"
      [tableHeaders]="tableHeaders"
      [tableData]="tableData"
      [paginationConfig]="paginationConfig"
      modalTitle="Edit"
      [modalBody]="modalBody"
      (onSaveHandler)="editInfo($event, this)"
      (onDisplayModalData)="onDisplayModalData($event)"
      (onCancelModalHandler)="onCancelModal()"
    >
    </app-table> -->
    <app-table
      type="select"
      [options]="options"
      [tableHeaders]="tableHeaders"
      [tableData]="tableData"
      [paginationConfig]="paginationConfig"
      (onActionRequestClick)="onActionRequestClick($event)"
      (onFilterOptionChange)="onFilterOptionChange($event)"
    >
    </app-table>
</app-home>